{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Main Menu{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="main-menu-container">
    <div class="main-menu-buttons-row-1">
        <button class="main-menu-button">Single Player</button>
        <button class="main-menu-button">How to Play</button>
    </div>
    <div class="main-menu-buttons-row-2">
        <button class="main-menu-button">How It Is Made</button>
        <button class="main-menu-button">Battle</button>
    </div>
  </div>
{% endblock %}